// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";



nav-link.active{
    background-color: var(--bs-nav-tabs-link-active-bg) !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}



  .img-size{

    &-h200{
        height: 200px;
        width: 100%;
    }
    &-h400{
        height: 400px;
    }
  }

  .size-item{
    height: 33.33%;
    
  }

  .nav-item-bg{
    background-color: #e9ecef;
  }

  .list-group-item.active{
    color: $gray-800;
    background-color: $white;
    border-color:  $gray-600;
  }

  .nav-link:disabled{

    background-color: $gray-600;
    color: $white;
  }

  .nav-tabs{
    background-color: $gray-800;
  }