// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$list-group-active-bg: #28a745;

nav-link.active{
    background-color: var(--bs-nav-tabs-link-active-bg) !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.tab-content {
    box-sizing: content-box;
  }

  .img-size{
    width:100%;

    &-h200{
        height: 200px;
    }
    &-h400{
        height: 400px;
    }
  }

  .size-item{
    height: 33.33%;
    
  }

  .nav-item-bg{
    background-color: #e9ecef;
  }

  .list-group-item.active{
    color: #212529;
    background-color: #ffffff;
    border-color: #dee2e6;
  }